input {
    margin-bottom: 0px !important;
}
.ui-message.ui-message-error {
        background-color: white;
        border: none;
        color: #F44336;
        font-size: 11px;
        padding: 0px;
        margin: 0px;
}
.ui-message.ui-message-error span {
        margin: 0px;
}
.ui-message.ui-message-error.message-with-input-icon {
    margin-left: 44px;
}