<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:composite="http://java.sun.com/jsf/composite">

    <composite:interface>
        <composite:attribute name="columns"/>
        <composite:attribute name="collection"/>
    </composite:interface>
    <composite:implementation>
        <table class="bordered highlight">
            <ui:fragment rendered="#{cc.attrs.columns.size() > 0}">
                <thead>
                    <ui:repeat value="#{cc.attrs.columns}" var="column">
                        <th>
                            <p:commandLink style="width: 100%" class="waves-effect waves-teal btn-flat">
                                <i class="material-icons right">sort</i>
                                #{column}
                            </p:commandLink>
                        </th>
                    </ui:repeat>
                </thead>
            </ui:fragment>
            <tbody>
                <ui:fragment rendered="#{cc.attrs.collection.size() > 0}">
                    <ui:repeat value="#{cc.attrs.collection}" var="item">
                        <tr>
                            <composite:insertChildren/>
                        </tr>
                    </ui:repeat>
                </ui:fragment>
                <ui:fragment rendered="#{cc.attrs.collection.size() == 0}">
                </ui:fragment>
            </tbody>
        </table>
    </composite:implementation>
</html>