<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <composite:interface>
        <composite:attribute name="id"/>
        <composite:attribute name="value"/>
        <composite:attribute name="label"/>
        <composite:attribute name="form"/>
        <composite:attribute name="columns"/>
        <composite:attribute name="required" type="java.lang.Boolean"/>
        <composite:attribute name="icon"/>
    </composite:interface>
    <composite:implementation>
        <div class="input-field col s#{cc.attrs.columns > 0 ? cc.attrs.columns : '12'}">
            <ui:fragment rendered="#{cc.attrs.icon != null}">
                <i class="material-icons prefix">#{cc.attrs.icon}</i>
            </ui:fragment>
            
            <p:inputText id="#{cc.attrs.id}" 
                         class="validate #{facesContext.validationFailed ? 'invalid' : ''}" 
                         required="#{cc.attrs.required}"
                         requiredMessage="obrigatório" 
                         value="#{cc.attrs.value}"/> 
            <p:message for="#{cc.attrs.form}:#{cc.attrs.id}:#{cc.attrs.id}" display="text">
                <f:passThroughAttribute name="class" value="#{cc.attrs.icon != null ? 'ui-message ui-message-error ui-widget ui-corner-all message-with-input-icon' : ''}" />   
            </p:message>                 
            <label for="#{cc.attrs.form}:#{cc.attrs.id}:#{cc.attrs.id}">#{cc.attrs.label}</label>
        </div>  
    </composite:implementation>
</html>