<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:cc="http://java.sun.com/jsf/composite/composite">
    <h:head>
        <title>PrimeFaces</title>     
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
        <style>
            #map {
                height: 400px;
                width: 100%;
            }
            .jqplot-target {
                font-family: 'Roboto';
            }    
            .jqplot-title {
                font-size: 16px !important;
            }        
            .jqplot-highlighter-tooltip, .jqplot-canvasOverlay-tooltip {
                border: 0px;
            }
            table.jqplot-table-legend, table.jqplot-cursor-legend {
                border: 0px;
                font-size: 15px;
            }
            div.jqplot-table-legend-swatch-outline {
                border: 0px;
            }
            .jqplot-table-legend .jqplot-table-legend-label {
                font-size: 16px;
            }
            .jqplot-tooltip-content {
                background-color: #fff;
                padding: 14px 12px;
                font-size: 14px;
                box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }
            .jqplot-tooltip-content .content {
                opacity: 0.8;
            }
            .jqplot-tooltip-content .serie {
                font-weight: bold;
                padding-bottom: 12px;
            }
            .jqplot-tooltip-content .detail .value {
                font-size: 20px;
                font-weight: bold;
                padding-top: 2px;
            }

            @media (max-width:767px) {  
                .jqplot-title {
                    font-size: 12px !important;
                }
                .jqplot-table-legend {   
                    font-size: 12px !important;
                }
            }
        </style>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    </h:head>  

    <h:body>  
        <h:form id="formTest">         
            <p:growl id="growl" showDetail="true" />

            <p:chart type="bar" model="#{indexController.barModel}" style="height:300px" responsive="true">                
                <p:ajax event="itemSelect" listener="#{indexController.itemSelect}" update="growl" />
            </p:chart>

            <p:chart type="line" model="#{indexController.lineModel1}" style="height:300px;" responsive="true"/>

            <p:chart type="pie" model="#{indexController.pieModel1}" style="width:400px;height:300px" responsive="true">              
                <p:ajax event="itemSelect" listener="#{indexController.itemSelect}" update="growl" />
            </p:chart>

            <p:chart type="metergauge" model="#{indexController.meterGaugeModel1}" style="width:400px;height:250px" responsive="true"/>

            <p:chart type="bar" model="#{indexController.horizontalBarModel}" style="height:300px" responsive="true"/>

            <!--            <div id="map">
                        </div>-->
        </h:form>
        <script>
            $(document).ready(function () {
                initMap();
            });
            function initMap() {
                var uluru = {lat: -25.363, lng: 131.044};
                var criciuma = {lat: -28.672811, lng: -49.374540};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 2,
                    center: criciuma
                });
                new google.maps.Marker({
                    position: criciuma,
                    map: map,
                    draggable: true
                });
                new google.maps.Marker({
                    position: uluru,
                    map: map,
                    draggable: true
                });
            }
            ;
            function customExtender() {
                this.cfg.grid = {
                    drawGridlines: false,
                    background: '#FFF',
                    borderWidth: 0,
                    shadow: false
                };
            }
            ;
            function customExtenderLine() {
                this.cfg.axes = {
                    xaxis: {
                        tickOptions: {
                            showGridline: false
                        }
                    }
                };
                this.cfg.seriesDefaults = {
                    showMarker: false,
                    shadow: false
                };
                this.cfg.grid = {
                    background: '#FFF',
                    borderWidth: 0,
                    shadow: false
                };
            }
        </script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgg-nR_Rgla2fqYdwUKe3REf91uSha1oE"></script>   
    </h:body>  
</html>